#img{ margin-bottom: -80px !important;   margin-left: 96px !important; }

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 75%;
    margin: auto;
}
.thumbnail img{ background: #6E6E6E;}

.feature{ height: 100px; margin-bottom: 10px; }

#left, #right{ width: 35%; min-height:200px; float:left;}
#phone{  width: 30%; min-height:400px; float:left;}
#phone img{ width: 150%; margin-left:-25% }
#left img { width: 50px; height: 50px; border-bottom: 2px #fcac45 solid;  float:right; margin-right: 90px; }
#left h2{ width:50%; text-align: center;  font-size: 16px;}
#p-left{margin:0; padding:0; position:absolute; margin-top: 5px; width: 209px;  text-align: center; padding-right: 10px; font-size: 12px;}

#right img{ width: 50px; height: 50px; float:left;border-bottom: 2px #fcac45 solid;  margin-left: 70px; }
#right h2{ width:50%; text-align: center; float: right; font-size: 16px; }
#p-right{ margin:0; padding:0; float:right; width: 209px;  text-align: center; font-size: 12px; margin-top: 5px;}

#team{ width: 75% !important }
em{ zoom:120%; }
#testimonial .owl-wrapper-outer{ width: 100% !important}

#tf-services{ padding: 80px 0 0 0; }

#clients img { height: 90px}
